doctype html
html
  head
    title= drugs
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(srv='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body
    if (user)
      include nav
      .container
        if (alert)
          .alert.alert-danger
            p= alert

        block content

    else
      .container
        if (alert)
          .alert.alert-danger
            p= alert

        div
          | You are currently not logged in. Please login.

        br

        form(name="input", action="/login", method="post")
          div
            label Email:
            input(type="text", name="email")

          div
            label Password:
            input(type="text", name="password")

          div
            input(type="submit", value="login", name="submit")

    block scripts
      script
        | $(document).ready(function(){
        |   $('[data-toggle="tooltip"]').tooltip();   
        | });