nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/") Languages
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/stories/new") New
        li
          a(href="/stories/list") Stories
        li
          a(href="/logout") Log Out
        li
          a(href="/tests/run") Tests

