extends layout

block content
  include nav
  form(name="input", action="/", method="post")
    key Title
      input(type="text", name="title")
    p
    key Story
      input(type="text", name="story")
    p
    input(type="submit", value="Submit")



