extends ../layout

block content
  .container
    if vm.m_stats
        table.table
          thead
            tr
              th title
              th words
              th known
              th sentences
              th remove
          tbody
          each val in vm.m_stats
            tr
              td
                a(href="/stories/view/#{val.m_story.id}") #{val.m_story.title}
              td #{val.m_words.length}
              td
                .progress
                  - att = {'role': 'progressbar', 'style': 'width:' + val.m_percent + '%'}
                  .progress-bar.progress-bar-success&attributes(att)
              td
                a(href="/stories/view/#{val.m_story._id}/sentences") sentences
              td
                a(href="/stories/remove/#{val.m_story._id}") x
    else
      | No stories
