extends ../layout

block content
  .container
    | Add New Story 008
    
    br

    form(name="input", action="/stories/add", method="post")
      div
        input.form-control(type="text", placeholder="Title", name="title") 

      div
        textarea.form-control(name="content", cols=80, rows=30, placeholder="Content")

      div
        input(type="hidden", name="user_id", value="#{user.id}")
        input(type="submit", value="Submit")



