extends ../layout

- m_md5 = require('md5')

block content
  .row
    if vm.m_sentences
      .col-md-6
        | <pre>
        = vm.m_story.content
        | </pre>
      .col-md-6
        each sentence, i in m_sentences
          = sentence
          p
    else
      | No sentences?
