extends ../layout

- m_md5 = require('md5')

block content
  .row
    if vm.m_sentences
      .col-md-4
        .story
          .story_sentences
            each sentence, i in m_sentences
              a(name="#{i+1}")
              | #{i+1} - 
              a(href="/stories/view/#{vm.story._id}/sentence/#{m_md5(sentence)}") Trans
              | 
              = sentence
              p
      .col-md-3
        if vm.sentence
          .vm.trans
            p Translation 
            p #{vm.sentence.content}
              if vm.lang
                br
                - m_uri = encodeURI(vm.sentence.content.substring(0, 200))
                - m_uri = m_uri.replace(/'/g,'')
                - vm.story.lang = (vm.story.lang) ? vm.story.lang : 'es'
                | <a href="#" onClick="window.open('http://translate.google.com/translate_tts?tl=#{vm.story.lang}&q=#{m_uri}','_outside','left=800,top=400,width=320,height=480,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no')">[pronounce]</a>
            p #{vm.sentence.translation}
      .col-md-2
        if vm.sentence_unknown_words
          .vm.words
            p Unknown (#{vm.sentence_unknown_words.length})
            each word in vm.sentence_unknown_words
              a(href="/words/add/#{word}/sentence/#{m_md5(vm.sentence.content)}") x
              |  #{word}
              br
      .col-md-2
        if vm.sentence_known_words
          .vm.words
            p Known (#{vm.sentence_known_words.length})
            each word in vm.sentence_known_words
              a(href="/words/remove/#{word}/sentence/#{m_md5(vm.sentence.content)}") x
              |  #{word}
              br
    else
      | Story is blank?
