body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: auto;
}

.nav { 
  width:40px;
  float:left;
  margin-right: 30px;
  background: #eee;
  padding: 20px;
}

.content {
  width: 825px;
  float:left;
  margin-right: 100px;
//  vertical-align: top;
//  border: 1px solid black;
}

.story {
  width: 250px;
  float:left;
  margin-right: 50px;
//  vertical-align: top;
//  overflow: scroll;
//  max-height: 75vh;
//  border: 1px solid black;
}

.story_content {
  width: 250px;
  float:left;
  margin-right: 50px;
  vertical-align: top;
  overflow: scroll;
  max-height: 50vh;
  border: 1px solid black;
  padding: 5px
}

.story_sentences {
  width: 250px;
  float:left;
  margin-right: 50px;
  margin-top: 30px;
  vertical-align: top;
  overflow: scroll;
  max-height: 25vh;
  border: 1px solid black;
  padding: 5px
}

.words {
  width: 150px;
  float:left;
  margin-right: 25px;
//  border: 1px solid black;
}

.known_words {
  width: 150px;
  float:left;
  margin-right: 25px;
//  border: 1px solid black;
}

.trans {
  width: 150px;
  float:left;
//  border: 1px solid black;
}

.wrap{
  background: #eee;
  margin: 0 auto;
}

.form {
  clear: both;
}

.status {
  background: #D5393B;
  color: white;
  float: right;
}

div {
}